/* line 17, ../../../../../../usr/local/Cellar/ruby193/1.9.3-p392/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../usr/local/Cellar/ruby193/1.9.3-p392/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../usr/local/Cellar/ruby193/1.9.3-p392/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../usr/local/Cellar/ruby193/1.9.3-p392/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../usr/local/Cellar/ruby193/1.9.3-p392/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../usr/local/Cellar/ruby193/1.9.3-p392/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../usr/local/Cellar/ruby193/1.9.3-p392/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../usr/local/Cellar/ruby193/1.9.3-p392/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../usr/local/Cellar/ruby193/1.9.3-p392/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 16, ../sass/main.sass */
html {
  font-size: 62.5%;
}

/* line 19, ../sass/main.sass */
body {
  margin: 60px;
  background-color: #fffce9;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  text-align: center;
}

/* line 27, ../sass/main.sass */
a {
  color: #158fbf;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}
/* line 32, ../sass/main.sass */
a:hover {
  color: #127ea8;
}

/* line 35, ../sass/main.sass */
h1 {
  margin-bottom: 4rem;
  font-family: "Sacramento", serif;
  font-size: 6rem;
  color: #6ba5a3;
  overflow: hidden;
  *zoom: 1;
}
/* line 43, ../sass/main.sass */
h1 > small {
  display: block;
  height: 1.5em;
  font-size: 2.4rem;
  color: #9aecea;
  text-indent: 40rem;
}

/* line 50, ../sass/main.sass */
h2 {
  font-size: 3.2rem;
}

/* line 53, ../sass/main.sass */
h3 {
  font-family: "Josefin Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2.4rem;
}

/* line 57, ../sass/main.sass */
h4 {
  font-size: 2rem;
}

/* line 60, ../sass/main.sass */
h5, h6 {
  font-size: 1.6rem;
}

/* line 63, ../sass/main.sass */
ul.inline li {
  display: inline-block;
}

/* line 66, ../sass/main.sass */
img.engagement-photo {
  max-width: 500px;
  border: 20px solid white;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  transform: rotate(2deg);
  -webkit-box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.1);
}

/* line 72, ../sass/main.sass */
ul#main-nav {
  display: inline-block;
  margin-bottom: 10rem;
}
/* line 76, ../sass/main.sass */
ul#main-nav li {
  padding: 0 1rem;
}
/* line 79, ../sass/main.sass */
ul#main-nav li a {
  font-family: "Josefin Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 82, ../sass/main.sass */
ul#main-nav, .page-section {
  display: none;
}

/* line 85, ../sass/main.sass */
.page-section {
  margin-bottom: 10rem;
}
