@import "variables"
@import "mixins"

// Nav
.main-nav
  .nav, .nav > li
    float: none
    display: inline-block
    vertical-align: top

  > .container
    text-align: center

// Main header
.main-header
  position: relative
  text-align: center

  h1, h2
    position: relative
    z-index: 1

  h1
    font:
      family: $sacramento
      size: 6rem

  h2
    position: relative
    top: -2rem
    font-size: 2.4rem
    text-indent: 40rem

  .engagement-photo-wrapper
    position: relative
    z-index: 0
    margin-top: -70px

    &:after
      content: ""
      position: absolute
      left: 0
      bottom: 0
      display: block
      width: 100%
      height: 33%
      background: linear-gradient(rgba(white, 0), rgba(white, 100))

// Page sections
.page-section
  padding: 5rem 0
  border-top: 2px dashed rgba(black, .2)

  &:first-child
    border-top: none

  > .container > header
    text-align: center

  &.coming-soon:after
    content: "Coming soon!"
    display: block
    width: 200px
    margin: 2rem auto 0
    padding: 1rem 2rem
    box-sizing: border-box
    border: 1px solid rgba(black, .2)
    text-align: center

#location
  position: relative
  min-height: 500px

  h3
    $height: 46px
    $width: 140px

    position: absolute
    top: 50%
    left: 50%
    z-index: 1
    display: inline-block
    width: $width
    height: $height
    padding: 1rem 2rem
    margin:
      top: -($height / 2)
      left: -($width / 2)
    box-sizing: border-box
    background-color: white
    border: 1px solid rgba(black, .2)
    opacity: 1
    transition: opacity .5s

  iframe
    position: absolute
    top: 0
    left: 0
    z-index: 0
    width: 100%
    height: 100%

  &:hover
    h3
      opacity: 0